/* common style  */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.common-spacing {
    padding: 0 100px;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

/* headar or bannnar style  */
header {
    background: rgba(229, 84, 115, 0.10);
    padding: 0 100px;
}

.lets-make-secton {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-heading {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;

}

.button-primary {
    border-radius: 8px;
    background: #E55473;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    padding: 20px 43px;
}

/* our featured folwer section start  */
.our-featured-flowers p {
    text-align: center;
    margin-top: 0px;
}

.flower-tree-container {
    margin-top: 42px;
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
}

.flower-tree {
    border-radius: 300px 300px 0px 0px;
}

#flower-tree-1 {
    background: rgba(167, 33, 98, 0.15);
}

#flower-tree-2 {
    background: rgba(5, 151, 160, 0.15);
}

#flower-tree-3 {
    background: rgba(71, 125, 17, 0.15);
}

.flawer-tree-link {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;

}

/* Our featured section start  */